[Unit]
Description=RaspOBD Interface Auto-Start
After=network.target bluetooth.target

[Service]
Type=simple
WorkingDirectory=/home/pipi/RaspOBD/interface
ExecStart=/home/pipi/RaspOBD/venv/bin/python main.py
Restart=always
User=pipi

[Install]
WantedBy=multi-user.target
